

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background:#0d0d0d;
}

.feedback-section{
    width:100%;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:40px;
    background:
    linear-gradient(rgba(0,0,0,0.85),rgba(0,0,0,0.85)),
    url("https://images.unsplash.com/photo-1617038220319-276d3cfab638?q=80&w=1400&auto=format&fit=crop");
    background-size:cover;
    background-position:center;
}

.feedback-box{
    width:100%;
    max-width:650px;
    background:rgba(255,255,255,0.05);
    backdrop-filter:blur(12px);
    border:1px solid rgba(212,175,55,0.3);
    border-radius:25px;
    padding:50px;
    box-shadow:0 10px 40px rgba(0,0,0,0.6);
}

.form-header{
    text-align:center;
    margin-bottom:35px;
}

.form-header h3{
    color:#d4af37;
    letter-spacing:4px;
    margin-bottom:10px;
    font-size:15px;
}

.form-header h1{
    color:white;
    font-size:45px;
    margin-bottom:15px;
}

.form-header p{
    color:#cfcfcf;
    line-height:1.8;
    font-size:15px;
}

.input-group{
    margin-bottom:22px;
}

.input-group input,
.input-group select,
.input-group textarea{
    width:100%;
    padding:16px 20px;
    background:rgba(255,255,255,0.06);
    border:1px solid rgba(212,175,55,0.4);
    border-radius:14px;
    color: black;
    font-size:16px;
    outline:none;
    transition:0.4s;
}

.input-group input::placeholder,
.input-group textarea::placeholder{
    color:#cccccc;
}

.input-group input:focus,
.input-group select:focus,
.input-group textarea:focus{
    border-color:#d4af37;
    box-shadow:0 0 15px rgba(212,175,55,0.4);
}

textarea{
    resize:none;
}

select{
    color:#cccccc;
}

button{
    width:100%;
    padding:16px;
    border:none;
    border-radius:50px;
    background:#d4af37;
    color:black;
    font-size:17px;
    font-weight:700;
    cursor:pointer;
    transition:0.4s;
    letter-spacing:1px;
}

button:hover{
    background:white;
    transform:translateY(-4px);
    box-shadow:0 8px 20px rgba(212,175,55,0.4);
}

@media(max-width:700px){

    .feedback-box{
        padding:30px;
    }

    .form-header h1{
        font-size:32px;
    }

}


nav{
  display:flex;
  gap:28px;
}

nav a{
  color:white;
  text-decoration:none;
  font-size:15px;
  font-weight:500;
  position:relative;
  transition:0.3s;
}

nav a::after{
  content:'';
  position:absolute;
  width:0%;
  height:2px;
  left:0;
  bottom:-5px;
  background:#d4af37;
  transition:0.4s;
}

nav a:hover{
  color:#d4af37;
}

nav a:hover::after{
  width:100%;
}




.logos{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin: 30px 0;
    color: yellow;
}


.nave{

    justify-content: center;
}
